/* All styles for your Card Components live here */
.card-container{
    /* margin-right: -100px;
    margin-left: 100px; */
    position: relative;
    left: 60px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 0 auto;
    width: 80%;
}

#react-background-img{
    width: 100%;
    
}
.card-content{
    padding-left: 10px;
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: black;

}
a::after{
    text-decoration: black;
}